/* *** Intente que se quede fijo el header pero no lo logre *** */
.header {
  position: fixed; 
  top: 0; 
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 10px;
  background: var(--header-bg-color); 
  color: var(--st-neutral-color);
  font-weight: bold;
  width: 100%; 
  height: var(--header-height);
}

/* *** Logo *** */
.logo img {
  width: 80px;
  height: auto;
  aspect-ratio: 100/79;
}

/* *Estiliza navlinks */
.active {
  color: var(--nd-secondary-color) !important;
  border-bottom: 1px solid var(--nd-secondary-color);
  filter: brightness(1.1);
}

/* *** Search *** */
.search {
  position: relative;
  flex-grow: 1;
  margin: 0 20px 0 25px; 
}

.search input[type="text"] {
  padding: 8px;
  border-radius: 1em;
  border: none;
  width: 95%;
  box-sizing: border-box;
  height: 2.8rem;
}
.search input[type="text"]:focus {
  outline: none;
  border: 2px solid var(--nd-secondary-color);
}

#searchInput {
  padding-left: 1rem;
}


.search-icon-container {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 15%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.search-icon {
  width: 20px;
  height: 20px;
  color: var(--nd-neutral-color);
}

/* *** Menu icono *** */
.menu-icon {
  display: block;
}
.nav {
  display: flex;
}
.nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav ul li {
  margin-right: 25px;
}
.nav ul li:last-child {
  margin-right: 0;
}
.nav ul li a {
  color: var(--senary-color);
  text-decoration: none;
  transition: color 0.3s, font-size 0.3s;
  padding: 10px;
  font-size: 16px;
}
.nav ul li a:hover {
  color: var(--nd-secondary-color);
  font-size: 16px;
  background: var(--st-secondary-color);
  scale: 1.05;
	filter: brightness(1.4);
  border-radius: 10px;
}
.io-menu {
  display: none;
  font-size: 2rem;
}

/* Clases para los íconos */
.icon-moon {
  color: black;
}

.icon-sun {
  color: yellow;
}

/* *theme  */
.theme {
  cursor: pointer;
  display: flex;
  align-items: center; 
}
.icon-large {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

/* *** login-menu *** */
.login-ingresar {
  display: block;
  cursor: pointer;
}
.login-menu {
  position: absolute;
  top: 50px;
  right: 10px;
  /*background: var(--mainly-color);*/
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--rd-shadow-color);
  margin-top: 35px;
  display: none;
}
.login-menu ul {
  display: block;
}
.login-menu ul li {
  display: block;
  margin-bottom: 7px;
  text-align: left;
  padding: 5px;
}
.login-menu.show {
  display: block;
}
.login-menu ul li a {
  border: none;
  color: var(--st-neutral-color);
  text-decoration: none;
  transition: color 0.3s, font-size 0.3s;
  padding: 10px;
  font-size: 16px;
}
.login-menu ul li a:hover {
  background: var(--st-secondary-color);
  border-radius: 10px;
}

/* ***Estilos para tamaños de Tablets*** */
/* *Cambio de 980px a 1070 */

@media screen and (max-width: 1070px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    height: 2.5rem;
  }
  .nav ul {
    display: none;
  }
  /* *** Revisar no esta en uso *** */
  .io-menu {
    display: block;
    cursor: pointer;
  }.tablet-nav {
    position: absolute;
    top: 80px;
    right: 70px;
    background: var(--mainly-color);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--rd-shadow-color);
    margin-top: 170px;
    display: none;
  }
  .tablet-nav ul {
    display: block;
  }
  .tablet-nav ul li {
    display: block;
    margin-bottom: 7px;
    text-align: left;
    padding: 2px;
  }
  .tablet-nav.show {
    display: block;
  }
  .tablet-nav ul li a {
    border: none;
    color: var(--st-neutral-color);
    transition: color 0.3s;
  }
  .tablet-nav ul li a:hover {
    background: var(--st-secondary-color);
  }

  /* *** login-menu *** */
  .login-ingresar {
    display: block;
    cursor: pointer;
  }
  .login-menu {
    position: absolute;
    top: 80px;
    right: 70px;
    background: var(--mainly-color);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--rd-shadow-color);
    margin-top: 170px;
    display: none;
  }
  .login-menu ul {
    display: block;
  }
  .login-menu ul li {
    display: block;
    margin-bottom: 7px;
    text-align: left;
    padding: 5px;
  }
  .login-menu.show {
    display: block;
  }
  .login-menu ul li a {
    border: none;
    color: var(--main-txt);
    text-decoration: none;
    transition: color 0.3s, font-size 0.3s;
    padding: 10px;
    font-size: 16px;
  }
  .login-menu ul li a:hover {
    background: var(--secondary-color);
  }
}