.homePageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: var(--radial-gradient-bg);
    margin-top: 60px;
}

.homePage {
    position: relative;
    z-index: 1;
    max-width: 600px;
    padding: 40px;
    border-radius: 10px;
    background: var(--login-signIn);
    box-shadow: 0 20px 40px var(--second-shadow-color);
    transform: perspective(1000px) rotateX(5deg);
    transition: transform 0.15s ease;
}

.homePage__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--third-color);
}