.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.563rem;
    box-shadow: 3px 4px 4px 3px var(--st-shadow-color);
    width: 90%;
    margin: 10px;
    background: var(--st-neutral-color);
}

.full-width {
    text-align: center;
    color: var(--header-bg-color);
    font-size: 1.7rem;
    width: 100%;
    filter: brightness(1.4);
}

/* ** Carousel */

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.carousel-button {
    background-color: transparent;
    color: var(--st-secondary-color);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-weight: bold;
}
.carousel-button:hover {
    color: var(--nd-secondary-color);
}
.carousel-button:first-of-type {
    left: 2rem;
}

.carousel-button:last-of-type {
    right: 2rem;
}
.carousel-content {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-slide {
    flex: 0 0 auto;
    width: 20%;
    padding: 1.25rem 2.188rem 0;
    box-sizing: border-box;
}

/* ** Card */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background: transparent;
    padding: 10px;
}

.card:hover {
    transform: scale(1.05);
    filter: brightness(1.);
    border-top: 4px solid var(--nd-secondary-color);
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.card-container--img {
    width: 6.25rem;
    height: 6.25rem;
}

.card-container--info {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    margin: 0;
    padding: 15px;
    font-family: 'Arial Narrow';
}

.card-category {
    color: var(--nd-neutral-color);
    font-weight: 500;
}

.card-title {
    color: var(--header-bg-color);
    font-weight: 600;
    text-align: left;
    margin-top: 0.5rem;
    filter: brightness(1.4);
}

/* *Media queries */

@media (max-width: 1200px) {
    .carousel-slide {
        width: calc(25% - 1.25rem);
    }
}

@media (max-width: 900px) {
    .carousel-slide {
        flex: 0 0 auto;
        width: 20%;
        padding: 1.25rem 1.563rem 0;
        box-sizing: border-box;
    }
}
@media (min-width: 400px) and (max-width: 600px) {
    .carousel-slide {
        flex: 0 0 100%;
        margin: 10px;
    }
}
