.product-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6rem;
}

.product-details {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: blue;
    padding: 1rem;
}

.product-info {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 2.8rem 0.5rem 0.5rem 0.5rem;
    width: 100%;
    height: auto;
}

.card-img {
    width: 44rem;
    height: 30rem;
    background-color: var(--st-secondary-color);
    padding: 1rem;
}

/* *Sección de imagenes*/
.product__img__container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    width: 44rem;
    overflow: hidden;
    position: relative;
    background-color: rgb(42, 165, 75);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 0.5rem;
}

.product-info--aside {
    flex: 1;
    background-color: var(--st-neutral-color);
    padding: 1rem 2rem;
    margin-top: 3rem;
}

.product-info--section {
    margin: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-info--section h2 {
    margin: 1.5rem;
}

.product__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 2.5rem;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    gap: 1.5rem 4rem;
}

.product__info--img {
    background-color: var(--st-secondary-color);
    width: 16rem;
    height: 17.5rem;
}

.prooduct__info--img:hover {
    border-top: none;
}

.product__info--category {
    background-color: blue;
    width: 3.5rem;
    height: 2.6rem;

}



