.product-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6rem;
}

.product-details {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: blue;
    padding: 1rem;
}

.product-info {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 2.8rem 0.5rem 0.5rem 0.5rem;
    width: 100%;
    height: auto;
}

/* *Sección de la primera imagen*/
.card-img-container {
    position: relative;
    width: 86%;
    padding-top: 50%;
    overflow: hidden;
    background-color: var(--st-neutral-color);
}
.card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0.5rem 0 0.5rem 0;
}

/* *Sección de imagenes*/
.product__img__container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    width: 44rem;
    overflow: hidden;
    position: relative;
    background-color: rgb(42, 165, 75);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 0.5rem;
}

.product-info--aside {
    flex: 1;
    background-color: var(--st-neutral-color);
    padding: 1rem 2rem;
    margin-top: 3rem;
}

.product-info--section {
    margin: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-info--section h2 {
    margin: 1.5rem;
}

.product__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 2.5rem;
    width: 90%;
    flex-wrap: wrap;
    gap: 1.5rem ;
}
/* *Sección 3 de productos*/
.product__info--img {
    background-color: var(--border-color);
    width: 13rem;
    filter: brightness(1.45);
}
.prooduct__info--img:hover {
    border-top: none;
}
.product__info--category {
    background-color: blue;
    width: 3.5rem;
    height: 2rem;
    border-radius: 0.5rem;
}
/* *ProductInfoCard */
.card__container {
    width: 100%;
    background: transparent;
}

.card-container:hover {
    transform: scale(1.05);
    filter: brightness(1.);
}

.container-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}


.card-container-img {
    width: 100%;
    height: 13rem;
    padding: 5px;
    filter: brightness(0.7);
    object-fit: cover;
}

.card-container-info {
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    margin: 0;
    padding: 15px;
    font-family: 'Arial Narrow';
    filter: brightness(0.8);
    background-color: var(--st-neutral-color);
}

.card__category {
    color: var(--nd-neutral-color);
    font-weight: 500;
    font-size: 0.9rem;
    text-align: left;
}

.card__title {
    color: var(--header-bg-color);
    font-weight: 600;
    text-align: left;
    margin-top: 0.5rem;
    filter: brightness(1.4);
}

.card__price {
    color: var(--header-bg-color);
    font-weight: 600;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-align: left;
}