@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	position: relative;
	min-height: 100vh;
	height: fit-content;
	background: var(--bg-color);
}

body::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-image:
		var(--background-image-1),
		var(--background-image-2);
	background-size: 100px 100px;
	pointer-events: none;
	z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: light) {
	:root {
		--bg-color: #fafffa;
		--header-bg-color: #3D6946;
		--st-neutral-color: #FFFFFF;
		--nd-neutral-color: #303030;
		--st-secondary-color: #B9E4C1;
		--nd-secondary-color: #35F33B;
		--border-color: #AAAAAA;
		--transparent: rgba(242, 116, 116, 0);
		--st-shadow-color: rgba(0, 0, 0, 0.2);
		--nd-shadow-color: rgba(0, 0, 0, 0.4);
		--rd-shadow-color: rgba(0, 0, 0, 0.5);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #010501;
        --header-bg-color: #3D6946;
        --st-neutral-color: #0f2119;
        --nd-neutral-color: #B9E4C1;
        --st-secondary-color: #346a3f;
        --nd-secondary-color: #35F33B;
        --border-color: #3E4E61;
        --transparent: rgba(50, 50, 50, 0);
        --st-shadow-color: rgba(0, 0, 0, 0.7);
        --nd-shadow-color: rgba(0, 0, 0, 0.5);
        --rd-shadow-color: rgba(0, 0, 0, 0.8);
	}
}

.light-mode {
	--bg-color: #fafffa;
	--header-bg-color: #3D6946;
	--st-neutral-color: #FFFFFF;
	--nd-neutral-color: #303030;
	--st-secondary-color: #B9E4C1;
	--nd-secondary-color: #35F33B;
	--border-color: #AAAAAA;
	--transparent: rgba(242, 116, 116, 0);
	--st-shadow-color: rgba(0, 0, 0, 0.2);
	--nd-shadow-color: rgba(0, 0, 0, 0.4);
	--rd-shadow-color: rgba(0, 0, 0, 0.5);
}

.dark-mode {
	--bg-color: #fafffa;
	--header-bg-color: #3D6946;
	--st-neutral-color: #FFFFFF;
	--nd-neutral-color: #303030;
	--st-secondary-color: #B9E4C1;
	--nd-secondary-color: #35F33B;
	--border-color: #AAAAAA;
	--transparent: rgba(242, 116, 116, 0);
	--st-shadow-color: rgba(0, 0, 0, 0.2);
	--nd-shadow-color: rgba(0, 0, 0, 0.4);
	--rd-shadow-color: rgba(0, 0, 0, 0.5);
}

:root {
	--header-height: 6rem;
}

main {
	margin-top: var(--header-height);
}

a[href*="product"] {
	text-decoration: none;
}