* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
	:root {
		--mainly-color: #44c61c;
		--secondary-color: #34aa13;
		--third-color: #277912;
		--fourth-color: #aaaaaa;
		--fifth-color: #F3DB11;
		--main-txt: #fff;
		--main-txt2: #000;
		--header-bg: linear-gradient(45deg, #44c61c, #44c61c, #34aa13, #277912);
		--first-shadow-color: rgba(0, 0, 0, 0.5);
		/* Define la variable --shadow-color */
		--second-shadow-color: rgba(0, 0, 0, 0.4);
		/* Define la variable --shadow-color */
		--radial-gradient-bg: radial-gradient(circle at center, rgba(242, 116, 116, 0) 0%, rgba(117, 232, 16, 0.5) 50%);
		--background-image-1: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 25%, transparent 125%);
  		--background-image-2: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 980px);
		--login-signIn: rgba(255, 255, 255, 0.2);
		--login-title: var(#277912);
		--login-border-form: var(#44c61c);
		--login-first-button: linear-gradient(45deg, #44c61c, #44c61c, #34aa13, #277912);
		--login-second-button: linear-gradient(45deg, #277912, #34aa13, #44c61c, #44c61c);

	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--mainly-color: #44c61c;
		--secondary-color: #34aa13;
		--third-color: #277912;
		--main-txt: #fff;
		--main-txt2: #000;
		--header-bg: linear-gradient(45deg, #44c61c, #44c61c, #34aa13, #277912);
	}
}

.light-mode {
	--mainly-color: #44c61c;
	--secondary-color: #34aa13;
	--third-color: #277912;
	--main-txt: #fff;
	--main-txt2: #000;
	--header-bg: linear-gradient(45deg, #44c61c, #44c61c, #34aa13, #277912);
}

.dark-mode {
	--mainly-color: #44c61c;
	--secondary-color: #34aa13;
	--third-color: #277912;
	--main-txt: #fff;
	--main-txt2: #000;
	--header-bg: linear-gradient(45deg, #44c61c, #44c61c, #34aa13, #277912);
}