@import url('https://fonts.googleapis.com/css2?family=Pompiere:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: #fff !important;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: linear-gradient(45deg, #44c61c, #44c61c, #34aa13, #277912);
    color: #fff;
  }
  /* Estilos para tamaños de pantalla grandes */
.nav {
  display: flex;
}
.nav ul {
  list-style-type: none;
  display: flex;
}

.nav ul li {
  margin-right: 20px;
}
  .nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, font-size 0.3s; /* Transición suave para los cambios de color y tamaño */
    padding: 10px;
    font-size: 16px;
  }
  .nav ul li a:hover {
    color: #ffffff; /* Cambia el color al pasar el cursor sobre el enlace */
    font-size: 18px; /* Cambia el tamaño del texto al pasar el cursor sobre el enlace */
    background: linear-gradient(45deg, #44c61c, #44c61c, #34aa13, #277912);
    border-radius: 5px;
    font-size: 18px;
  }
  .menu-icon {
    display: none; /* Oculta el icono de hamburguesa por defecto */
  }
  .search {
    flex: 1;
    margin-left: 50px; /* Ajuste el margen derecho para separar más el elemento de búsqueda del logo */
  }
  .search input[type="text"] {
    padding: 8px; /* Espaciado interno de la barra de búsqueda */
    border: 1px solid #ccc; /* Borde de la barra de búsqueda */
    border-radius: 5px; /* Bordes redondeados */
    width: 200px; /* Ancho de la barra de búsqueda */
    box-sizing: border-box; /* Calcula el tamaño total incluyendo el relleno y el borde */
  }
  
  .search input[type="text"]:focus {
    outline: none; /* Elimina el contorno de enfoque */
    border-color: #007bff; /* Cambia el color del borde cuando la barra de búsqueda está enfocada */
  }  
  
/* Estilos para tamaños de pantalla pequeños */
  @media screen and (max-width: 768px) {
    .nav ul {
      display: none; /* Oculta el menú en pantallas pequeñas */
    }
  
    .menu-icon {
      display: block; /* Muestra el icono de hamburguesa en pantallas pequeñas */
      cursor: pointer;
    }
  
    .header {
      position: relative; /* Asegura que el menú se despliegue correctamente */
    }
  
    .nav {
      position: absolute;
      top: 50px; /* Posición del menú al desplegarse */
      left: 0;
      width: 100%; /* Ancho total del menú */
      background-color: #333; /* Color de fondo del menú */
      padding: 20px; /* Espaciado interno del menú */
      box-sizing: border-box; /* Calcula el tamaño total incluyendo el relleno y el borde */
    }
  
    .nav ul {
      display: block; /* Muestra la lista de elementos del menú */
    }
    .nav ul li {
      display: block; /* Muestra cada elemento de menú en una línea */
      margin-bottom: 10px; /* Espacio entre elementos de menú */
    }
  }